<header class="navbar">
  <div class="nav-left">
    <a href="/" class="logo">BidHub</a>
  </div>
  <nav class="nav-right">
    <a href="/auctions">Đấu giá</a>
    <a href="/login">Đăng nhập</a>
    <a href="/register">Đăng ký</a>
  </nav>
</header>
