DB_HOST=your_db_host
DB_PORT=your_db_port
DB_USER=your_db_user
DB_PASS=your_db_pass
DB_NAME=your_db_name
JWT_SECRET=your_jwt_secret

MAIL_HOST=your_mail_host
MAIL_PORT=your_mail_port
MAIL_SECURE=false
MAIL_USER=your_mail_user
MAIL_PASS=your_mail_pass
MAIL_FROM=your_mail_from_address

OTP_TTL_MINUTES=10
OTP_LENGTH=4
OTP_MAX_ATTEMPTS=5

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
