<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title><%= title || "Online Auction" %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include("../partials/navbar") %>
    <main class="container">
      <%- body %>
    </main>
    <%- include("../partials/footer") %>
    <script src="/js/main.js"></script>
  </body>
</html>
